{% extends "base.html" %}

{% block content %}
    <h1>Impressum</h1>

    <h2>Angaben gemäß § 5 TMG</h2>
    <p>
        Inhaber:Schön Mediaconsulting inh: Bülent Aydin<br>
        [Bergschenweg 71]<br>
        [47506] [Neukirchen-Vluyn]<br>
    </p>

    <h2>Kontakt</h2>
    <p>
        Telefon: [0157/55815590]<br>
        E-Mail: [info@moers-live.de]<br>
    </p>

    <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
    <p>
        Bülent Aydin<br>
        [Adresse wie oben]
    </p>
{% endblock %}
